/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    overflow-x: hidden;
    padding: 0;
  }
  
  .hero .carousel {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    margin: 0;
    position: relative;
  }
  
  .hero .carousel-item {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
  }
  
  .hero .carousel-item::before {
    content: "";
    background-color: rgba(86, 85, 85, 0.5);
    position: absolute;
    inset: 0;
  }
  
  .hero .info {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .hero .info {
      padding: 0 50px;
    }
  }
  
  .hero .info h2 {
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 56px;
    font-weight: 700;
    position: relative;
  }
  
  .hero .info h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 4px;
    background: var(--color-primary);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
  @media (max-width: 768px) {
    .hero .info h2 {
      font-size: 36px;
    }
  }
  
  .hero .info p {
    color: #fff;
    font-size: 18px;
  }
  
  .hero .info .btn-get-started {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    border: 2px solid #32CD32;
  }
  
  
  
  .hero .info .btn-get-started:hover {
    background: var(--color-primary);
  }
  
  
  
  .hero .carousel-control-prev {
    justify-content: start;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-prev {
      padding-left: 15px;
    }
  }
  
  .hero .carousel-control-next {
    justify-content: end;
  }
  
  @media (min-width: 640px) {
    .hero .carousel-control-next {
      padding-right: 15px;
    }
  }
  
  .hero .carousel-control-next-icon,
  .hero .carousel-control-prev-icon {
    background: none;
    font-size: 26px;
    line-height: 0;
    background: rgba(90, 89, 89, 0.9);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    z-index: 3;
    transition: 0.3s;
  }
  
  .hero .carousel-control-prev:focus,
  .hero .carousel-control-next:focus {
    opacity: 0.5;
  }
  
  .hero .carousel-control-prev:hover,
  .hero .carousel-control-next:hover {
    opacity: 0.9;
  }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.intro {
    height: 100vh;
    position: relative;
    color: #ffffff;
  }
  
  .intro .swiper-pagination {
    bottom: 50px;
  }
  
  .intro .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
  }
  
  .intro .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #FFA500;
    width: 36px;
  }
  
  .intro .intro-item {
    padding-top: 2rem;
  }
  
  .intro .carousel-item-a {
    position: relative;
    height: 100vh;
  }
  
  .intro .carousel-item-a.bg-image {
    background-attachment: scroll;
  }
  
  .intro .intro-content {
    position: absolute;
  }
  
  .intro .intro-body {
    padding-left: 1rem;
  }
  
  @media (min-width: 768px) {
    .intro .intro-body {
      padding-left: 2rem;
    }
  }
  
  .intro .intro-body .price-a {
    color: #ffffff;
    padding: 1rem 1.5rem;
    border: 2px solid #FFA500;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  
  .intro .spacial {
    animation-delay: 0.2s;
    color: #ffffff;
  }
  
  .intro .intro-title-top {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 0.05em;
  }
  
  @media (min-width: 768px) {
    .intro .intro-title-top {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 992px) {
    .intro .intro-title-top {
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }
  
  .intro .intro-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
  }
  
  @media (min-width: 576px) {
    .intro .intro-title {
      font-size: 3.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .intro .intro-title {
      font-size: 3.5rem;
    }
  }
  
  @media (min-width: 992px) {
    .intro .intro-title {
      font-size: 4rem;
    }
  }
  
  .intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  @media (min-width: 768px) {
    .intro .intro-subtitle {
      font-size: 2.5rem;
    }
  }
  
  .intro .intro-subtitle.intro-price {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  
  @media (min-width: 576px) {
    .intro .intro-subtitle.intro-price {
      font-size: 1.3rem;
    }
  }
  
  @media (min-width: 768px) {
    .intro .intro-subtitle.intro-price {
      padding-top: 2rem;
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 992px) {
    .intro .intro-subtitle.intro-price {
      padding-top: 3rem;
    }
  }
  
  /*------/ Intro Single /------*/
  .intro-single {
    padding: 12rem 0 3rem;
  }
  
  @media (max-width: 767px) {
    .intro-single {
      padding-top: 9rem;
    }
  }
  
  .intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
  }
  
  .intro-single .title-single-box {
    border-left: 3px solid #FFA500;
  }
  
  .intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
  }
  
  @media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.1rem;
    }
  }
  
  @media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
      font-size: 2.5rem;
    }
  }
  
  .intro-single .breadcrumb-box {
    padding: 1rem 0 0 0.5rem;
  }
  
  .intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
  }

  .home_service {
    margin: 4rem 0;
  }

 
/* @media all and (max-widt) */

/*--------------------------------------------------------------
# Clients Section
--------------------------------------------------------------*/
.clients {
  padding: 25px 0;
}

.clients .swiper {
  padding: 10px 0;
}

.clients .swiper-wrapper {
  height: auto;
}

.clients .swiper-slide img {
  transition: 0.3s;
  width: 50%;
}

.clients .swiper-slide img:hover {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: color-mix(in srgb, rgb(49, 77, 53), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: #f0f1f2;
}

.call-to-action p {
  color: #f0f1f2;
}

.call-to-action .cta-btn {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.call-to-action .cta-btn:hover {
  background: green;
  color: blue;
  border: 2px solid green;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 1.25rem;
  margin-right: 4px;
  color: var(--accent-color);
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .read-more {
  background: var(--accent-color);
  color: var(--contrast-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 12px 30px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.about .content .read-more i {
  font-size: 18px;
  margin-left: 5px;
  line-height: 0;
  transition: 0.3s;
}

.about .content .read-more:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
  padding-right: 25px;
}

.about .content .read-more:hover i {
  margin-left: 10px;
}

/*-------------------------------------------------------------- Service -------------- */
  
.HeaderSection-posts article {
  box-shadow: 0 4px 16px rgba(185, 130, 130, 0.1);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.HeaderSection-posts .post-img {
  max-height: 240px;
  margin: -30px -30px 15px -30px;
  overflow: hidden;
}

.HeaderSection-posts .post-category {
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 10px;
}

.HeaderSection-posts .title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  color: #000 !important;
  margin: 0 0 20px 0;
}

.HeaderSection-posts .title a {
  color: var(--secondary-color);
  transition: 0.3s;
}

.HeaderSection-posts .title a:hover {
  color: var(--primary-color);
}

.HeaderSection-posts .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.HeaderSection-posts .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}

.HeaderSection-posts .post-date {
  font-size: 14px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 0;
}

.partners {
  padding: 50px 0;
}