.selected-image-admin{
    width: 50%;
}

button {
    /* Add your styles here */
    outline: none;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}
button:disabled {
    background-color: #ccc; /* Grey background for disabled button */
    cursor: not-allowed; /* Not-allowed cursor for disabled button */
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="file"] {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 8px 0; /* Margin for spacing */
    display: inline-block; /* Make the input inline-block */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="file"]:focus {
    border-color: #4CAF50; /* Green border on focus */
    outline: none; /* Remove default outline */
}
label {
    font-weight: bold; /* Make labels bold */
    margin-top: 10px; /* Add some space above labels */
}
select {
    width: 100%; /* Full width */
    padding: 12px 20px; /* Some padding */
    margin: 8px 0; /* Margin for spacing */
    display: inline-block; /* Make the select inline-block */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
select:focus {
    border-color: #4CAF50; /* Green border on focus */
    outline: none; /* Remove default outline */
}